<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379393209814-i3vreoa228acfl000kue6bc753bl4jb1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379393209814-i3vreoa228acfl000kue6bc753bl4jb1</string>
	<key>API_KEY</key>
	<string>AIzaSyAI2OA-NohmVklrRVej5x9ErB-ayP4X71g</string>
	<key>GCM_SENDER_ID</key>
	<string>379393209814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hr.fer.caleta.mario.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-44968</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-44968.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379393209814:ios:e68d35cb6f399830</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-44968.firebaseio.com</string>
</dict>
</plist>